@import '../../../../../assets/styles/variables';
@import '../../../../../assets/styles/mixins';

.view {
    // height: 100vh;
    margin-top: 0;

    >section {
        margin: 0;

        &.is-showing-a-data-panel {            

            &:after {
                background: #000;
                content: '';
                height: 100vh;
                left: 0;
                opacity: .4;
                position: fixed;
                top: 0;
                width: 100vw;
                z-index: 1;
            }
        }
    }
}