@font-face {
    font-family: "cera round pro thin";
    src: url("../fonts/cera-round-pro/cera-round-pro-thin.woff") format("woff"),
        url("../fonts/cera-round-pro/cera-round-pro-thin.woff2") format("woff2");
}

@font-face {
    font-family: "cera round pro light";
    src: url("../fonts/cera-round-pro/cera-round-pro-light.woff") format("woff"),
        url("../fonts/cera-round-pro/cera-round-pro-light.woff2") format("woff2");
}

@font-face {
    font-family: "cera round pro medium";
    src: url("../fonts/cera-round-pro/cera-round-pro-medium.woff") format("woff"),
        url("../fonts/cera-round-pro/cera-round-pro-medium.woff2") format("woff2");
}

@font-face {
    font-family: "cera round pro regular";
    src: url("../fonts/cera-round-pro/cera-round-pro-regular.woff") format("woff"),
        url("../fonts/cera-round-pro/cera-round-pro-regular.woff2") format("woff2");
}

@font-face {
    font-family: "cera round pro bold";
    src: url("../fonts/cera-round-pro/cera-round-pro-bold.woff") format("woff"),
        url("../fonts/cera-round-pro/cera-round-pro-bold.woff2") format("woff2");
}

@font-face {
    font-family: "cera round pro black";
    src: url("../fonts/cera-round-pro/cera-round-pro-black.woff") format("woff"),
        url("../fonts/cera-round-pro/cera-round-pro-black.woff2") format("woff2");
}