@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';

button {
    align-items: center;
    background: map-get($colors, "primary");
    border: none;
    border-radius: .5rem;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: 'cera round pro bold';
    gap: .5rem;
    // max-width: 120px;
    padding: .5rem .5rem .625rem .5rem;
    width: fit-content;

    &:disabled {
        background: darken(map-get($colors, "neutral"), 10%);
        cursor: not-allowed;
    }

    &:enabled:hover {
        background: darken(map-get($colors, "primary"), 10%);
    }

    &.secondary {
        background: none;
        color: map-get($colors, "primary");

        &:hover {
            background: lighten(map-get($colors, "primary"), 35%);
            color: darken(map-get($colors, "primary"), 20%);
        }

        &.active {
            box-shadow: none;
            color: inherit;
            cursor: default;
            &:hover {
                background: none;
            }                     
        }
    }

    &.close {
        border-radius: 12px;
        height: 24px;
        position: absolute;
        right: .5rem;
        top: .5rem;
        width: 24px;

        @include breakpoint(medium) {
            right: .25rem;
            top: .25rem;
        }

        i {
            left: -1px;
            text-align: center;
        }
    }

    i {
        font-size: .8rem;
        left: 0;
        position: relative;
        top: 1px;
        width: fit-content;
        &.fa-check {
            left: 1px;
        }
        &.fa-chevron-left, &.fa-chevron-right {
            font-size: .7rem;
        }
        &.fa-angles-left, &.fa-angles-right {
            left: -2px;
        }        
    }

    >* {
        // left: -1rem;
        position: relative;
        text-align: right;

        +* {
            margin: 0;
            text-align: left;
        }
    }
}