@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';

.data-panel {
    background: #fff;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.3);
    border-radius: .5rem;
    left: 1rem;
    margin-top: 0;
    padding: 1rem;
    position: fixed;
    // top: 62px;
    top: 50%;
    width: calc(100% - 2rem);
    z-index: 101;

    @include breakpoint(medium) {
        // border-left: 1px solid map-get($colors, "neutral");    
        border-radius: 0;    
        // box-shadow: none;
        // left: 0;
        height: 100vh;
        left: auto;
        margin-top: 0 !important;
        max-width: 320px;
        padding: 0 1rem;
        // position: sticky;
        right: 0;
        top: 0;
        width: auto;
        &:before {
            background: #fff;
            content: '';
            display: none;
            height: 100vh;
            margin-left: -1.25rem;
            position: fixed;
            top: 0;
            width: 100%;
        }
    }

    &.hidden {
        position: absolute;
    }

    >div {
        position: relative;
        top: -100px;
    }

    button {
        margin-left: 0;
        margin-right: 0;       
    }

    form {
        position: relative;
        * {
            font-size: .75rem;
        }

        div {
            margin-top: .5rem;
        }

        textarea {
            height: 72px;
        }

        @include breakpoint("extra large") {
            * {
                font-size: inherit;
            }
        }
    }

    h2 {
        margin: 0;
        position: relative;
        width: calc(100% - 1.75rem);
        @include breakpoint(medium) {
            margin-top: .5rem;     
            width: calc(100% - 1.25rem);       
        }
    }
}